.card.profile-card
  .card-body
    h5.card-title.font-weight-bold.text-center #{utilizador.nome}
    
    if utilizador.email
      .d-flex.align-items-center.profile-email.rounded
        i.fas.fa-at 
        a.btn(href='mailto:'+utilizador.email) #{utilizador.email}

    if utilizador.bio
      .d-flex.align-items-center
        h6.card-subtitle
        #{utilizador.bio}

    if utilizador.curso
      h6.card-subtitle
      | #{utilizador.curso}

    if utilizador.website
      h6.card-subtitle
        a.card-link(href=utilizador.website) a#{utilizador.website}
