- var date = new Date(publicacao[0].data)
.post-detail.rounded
    .card-header
      .navbarUserDropdownDiv.rounded.p-1(style='width:max-content')
        a(href='../perfil/'+publicacao[0].user[0].numAluno)
          img.rounded(src="/ficheiros/"+ publicacao[0].user[0].foto.name  height="50px" width="50px")
          strong  #{publicacao[0].user[0].nome} 
          |(@#{publicacao[0].user[0].numAluno})
    .card-body
      blockquote.blockquote.mb-0
        h1.text-left
          | #{publicacao[0].titulo}
        hr
        h6.pre-wrap
          | #{publicacao[0].text}

        hr
        each anexo in publicacao[0].ficheiros
          if anexo.mimetype.includes('image')
            a(href='../ficheiros/'+anexo.name)
              img.image-cover(src="../ficheiros/"+anexo.name)(style='max-width:500px')

        hr
        footer.blockquote-footer
          | #{date.getDate()}/#{date.getMonth()+1}/#{date.getFullYear()} #{date.getHours()}h#{date.getMinutes()}m
        
        if publicacao[0].ficheiros.length
          footer.blockquote-footer 
            | Anexos
            each anexo in publicacao[0].ficheiros
              if !anexo.mimetype.includes('image')
                a(href='../ficheiros/'+anexo.name)
                  p #{anexo.name}
          
        footer
          i.fas.fa-comments
          |  #{publicacao[0].comentarios.length}      
          i.fas.fa-heart
          |  #{publicacao[0].gostos.numero}