.profile-card.card
  .card-body
    h2 #{lista.nome}
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis cupiditate quae asperiores voluptatum ut quos, voluptatibus possimus aliquam sapiente nobis earum. Dolor libero deserunt vitae iure similique, nemo tempora eum!
    p a#{lista.numAluno}
    p a#{lista.curso}
    p a#{lista.email}
    a(href=lista.website) a#{lista.website}
    p a