.profile-card.card
  .card-body
    h2 #{utilizador.nome}
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis cupiditate quae asperiores voluptatum ut quos, voluptatibus possimus aliquam sapiente nobis earum. Dolor libero deserunt vitae iure similique, nemo tempora eum!
    p a#{utilizador.numAluno}
    p a#{utilizador.curso}
    p a#{utilizador.email}
    a(href=utilizador.website) a#{utilizador.website}